/* simple table */
table.datagrid {
    border-spacing: 0px;
    border-collapse: separate;
	margin-bottom: 30px;
	border-left: 1.5px solid #ccc;
	border-right: 1.5px solid #ccc;
}

table.datagrid tbody td {
	padding: 7px 15px;
	border-bottom: solid 1px #ccc;
}

table.datagrid thead td {
	padding: 15px 15px;
}

table.datagrid tr.header {
    background-color: #52607E;
    font-weight: bold;
    color: #fff;
}

table.datagrid tbody tr:nth-child(2n+1) td {
    background-color: #FBFBFB;
}

table.datagrid tr.grandtotal td {
    background-color: #D3D3D3 !important;
	border-top: solid 1px #000;
}

table.datagrid tr.subtotal td {
    background-color: #D3D3D3 !important;
	border-bottom: solid 1px #000;
}

table.datagrid td.data-kf-value {
	text-align: right;
}

.collapseDimension span {
	width: 10px;
	height: 10px;
	display: inline-block;
    margin-right: 5px;
    background-image: url("images/collapse.png");
}

.expandDimension span {
	width: 10px;
	height: 10px;
	display: inline-block;
    margin-right: 5px;
    background-image: url("images/expand.png");
}

.collapseAll span {
	width: 10px;
	height: 10px;
	display: inline-block;
    margin-left: 5px;
    background-image: url("images/collapse.png");
}

.expandAll span {
	width: 10px;
	height: 10px;
	display: inline-block;
    margin-left: 5px;
    background-image: url("images/expand.png");
}

.sortup,
.sortdown
 {
    position: relative;
    padding-right: 21px;
}

.sortup span {
	width: 16px;
	height: 16px;
	display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 3px;
    background-image: url("images/arrow_down.png");
}

.sortupselected span {
    background-image: url("images/arrow_down_selected.png");
}

.sortdown span {
	width: 16px;
	height: 16px;
	display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 3px;
    background-image: url("images/arrow_up.png");
}

.sortdownselected span {
    background-image: url("images/arrow_up_selected.png");
}

/* remove a border when clicked */
.sortdown,
.sortup,
.collapseAll,
.expandAll {
    outline: none;
}